
#botonLogin{ 
  padding-left: 20px;
  padding-right: 10px;  
  
}

.example-spacer{
  flex: 1 1 auto;
}

.navbar{  
  justify-content: end;  
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  
}
.btn{
max-width: 80px !important;
background-color: rgb(88, 85, 92) !important;
color: white !important;
font-size:large;
padding-top: 0%;
padding-bottom: 0%;

}