<div class="container" id="skillsBlock">
  <div class="card">
    <div class="card-header"><h2>Skills</h2></div>
    <div class="card-body row" *ngFor="let ski of skills">
      <div class="col-2"></div>
      <div class="col-6">
        <h5 class="card-title text-center">{{ ski.nombre }}</h5>

        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            [style.width.%]="ski.porcentaje"
            [attr.aria-valuenow]="ski.porcentaje"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ ski.porcentaje }}%
          </div>
        </div>        
      </div>
      <div class="col-2 text-right mt20">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-primary">
          Editar
        </button>
      </div>
      <div class="col-2 text-right mt20">
        <button 
        *ngIf="isLoggedIn"
        (click)= "eliminarSkill(ski.id)"
        type="button" 
        class="btn btn-danger">Borrar
        </button>
      </div>
    </div>
    <div class="container text-center mt20" id="agregar">
      <button
        *ngIf="isLoggedIn"
        [routerLink]="'add-skill'"
        type="button"
        class="btn btn-primary">
        Agregar
      </button>
    </div>
  </div>
</div>
