<div class="container" id="social">
  <ul>
    <li>
      <a
        href="https://github.com/SebatianLedesma?tab=repositories"
        target="_blank"
      >
        <img src="../../../assets/github.png" id="github" alt="link github" />
      </a>
    </li>
    <li>
      <a href="https://facebook.com/Ledesma.se" target="_blank">
        <img
          src="../../../assets/facebook.png"
          id="facebook"
          alt="link facebook"
        />
      </a>
    </li>
    <li>
      <a href="https://instagram.com" target="_blank">
        <img
          src="../../../assets/instagram.png"
          id="instagram"
          alt="Link Instagram"
        />
      </a>
    </li>
    <li>
      <a href="https://twitter.com" target="_blank">
        <img
          src="../../../assets/twitter.png"
          id="twitter"
          alt="Link Twitter"
        />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ledesmasebastian/" target="_blank">
        <img src="../../../assets/linkedin.png" id="linkedin" alt="" />
      </a>
    </li>
  </ul>
</div>
