<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Edición de Experiencias</h3>
  <form *ngIf="experiencia" (submit)="actualizarDatosExperiencia()">
    <div class="form-group">
      <label>Empresa : </label>
      <input
        [(ngModel)]="experiencia.empresa"
        type="text"
        class="form-control"
        name="empresa"
        required
        minlength="4"
        maxlength="50"
        placeholder="Digite la empresa "
        #empresa="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)"
      >
        <div *ngIf="empresa.errors!['required']">
          Digite la empresa por favor
        </div>
        <div *ngIf="empresa.errors!['minlength']">
          El nombre tiene que contener como mínimo 4 caracteres
        </div>
        <div *ngIf="empresa.errors!['maxlength']">
          El nombre tiene que tener como maximo 50 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Cargo: </label>
      <input
        [(ngModel)]="experiencia.cargo"
        type="text"
        class="form-control"
        name="cargo"
        required
        minlength="3"
        maxlength="30"
        placeholder="Digite su cargo "
        #cargo="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="cargo.invalid && (cargo.dirty || cargo.touched)"
      >
        <div *ngIf="cargo.errors!['required']">Digite su cargo por favor</div>
        <div *ngIf="cargo.errors!['minlength']">
          El cargo tiene que contener como mínimo 4 caracteres
        </div>
        <div *ngIf="cargo.errors!['maxlength']">
          El cargo tiene que tener como maximo 30 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Domicilio: </label>
      <input
        [(ngModel)]="experiencia.direccion"
        type="text"
        class="form-control"
        name="direccion"
        required
        minlength="8"
        maxlength="30"
        placeholder="Digite el domicilio "
        #direccion="ngModel"
      />      
    </div>

    <div class="form-group">
      <label>Inicio : </label>
      <input
        [(ngModel)]="experiencia.inicio"
        type="date"
        class="form-control"
        name="inicio"
        required
        minlength="10"
        maxlength="10"
        placeholder="Digite la fecha de innicio "
        #inicio="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="inicio.invalid && (inicio.dirty || inicio.touched)"
      >
        <div *ngIf="inicio.errors!['required']">
          Digite su fecha de inicio por favor
        </div>
        <div *ngIf="inicio.errors!['minlength']">
          La fecha debe contener como minímo 10 caracteres
        </div>
        <div *ngIf="inicio.errors!['maxlength']">
          debe contener como maximo 10 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Fin : </label>
      <input
        [(ngModel)]="experiencia.fin"
        type="date"
        class="form-control"
        name="fin"
        required
        minlength="10"
        maxlength="10"
        placeholder="Digite la finalizacion "
        #fin="ngModel"
      />      
    </div>

    <div class="form-group">
      <label>Imagen : </label>
      <input
        [(ngModel)]="experiencia.imagen"
        type="text"
        class="form-control"
        name="imagen"
        required
        minlength="10"
        maxlength="100"
        placeholder="Ingrese la URL de la imagen "
        #imagen="ngModel"
      />      
    </div>

    <button class="btn btn-success">Guardar</button>
  </form>
</div>
