<h1 class="text-center">Agregar experiencia</h1>
<div class="container">
  <form (ngSubmit)= "formSubmit()">
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input
            required
            autofocus
            type="text"
            name="empresa"
            matInput            
            class="form-control"
            [(ngModel)]="experiencia.empresa"
            placeholder="Empresa"
          />
        </div>
      </div>

      <div class="col">
        <div class="form-outline">
          <input            
            type="text"
            name="cargo"
            matInput
            id="form6Example2"
            class="form-control"
            [(ngModel)]="experiencia.cargo"
            placeholder="Cargo que desempeñaba"
          />
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <input
        type="text"
        name="imagen"
        matInput
        id="form6Example3"
        class="form-control"
        [(ngModel)]="experiencia.imagen"
        placeholder="Link de la imagen"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        type="text"
        name="direccion"
        matInput
        id="form6Example4"
        class="form-control"
        [(ngModel)]="experiencia.direccion"
        placeholder="Dirección"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        type="date"
        name="inicio"
        matInput
        id="form6Example5"
        class="form-control"
        [(ngModel)]="experiencia.inicio"
        placeholder="Fecha de inicio"
      />
    </div>

    <div class="form-outline mb-4">
      <input
        type="date"
        name="fin"
        matInput
        id="form6Example6"
        class="form-control"
        [(ngModel)]="experiencia.fin"
        placeholder="Fecha de finalización"
      />
    </div>    

    <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4">
      Agregar
    </button>
  </form>
</div>
