<div class="bootstrap-wrapper">
  <div class="col-lg-12">
    <img
      class="img-fluid img-rounded mx-auto"
      id="foto-portada"
      src="./assets/portada.jpeg"
    />
    <img
      src="./assets/perfil.png"
      class="rounded-circle"
      width="12%"
      max-width="20%"
      id="foto-perfil"
      alt="..."
    />
  </div>
</div>

<div id="info-personal">
  <div class="col mt-3">
    <div class="text-left mt20">
      <button
        routerLink="admin/profile/"
        type="button"
        class="btn btn-primary btn-xxs"
      >
        Mis datos
      </button>
    </div>
  </div>


<div>
  <div class="col-lg-12">
    <div>
      <h2>Acerca de:</h2>
      <p>
        Actualmete soy estudiante de la carrera de "Tecnicatura Superior en
        Desarrollo Web y Aplicaciones Digitales"
      </p>
    </div>
  </div>
</div>
</div>
