<div class="bootstrap-wrapper">
  <div class="col-lg-12">
    <img
      class="img-fluid img-rounded mx-auto"
      id="foto-portada"
      src="./assets/portada.jpeg"
    />
  </div>

  <div class="bootstrap-wrapper">
  <div class="col mt-3">
    <img
      src="./assets/perfil.png"
      class="rounded-circle"
      width="10%"
      id="foto-perfil"
      alt="..."
    />
  </div>
  </div>

  <div >
    <div class="col-lg-12">
      <div>
        <h2>Acerca de:</h2>
        <p>
          Actualmete soy estudiante de la carrera de "Tecnicatura Superior en
          Desarrollo Web y Aplicaciones Digitales"
        </p>
      </div>
    </div>
  </div>
</div>
