<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        src="../../../assets/perfil.png"
        class="img-fluid rounded-circle"
        alt=""
        id="fotoPerfil"
      />
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">Sebastian Ledesma</p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div>
      <span>
        <h2>Acerca de</h2>
        <p>
          Actualmete cursando el ultimo año de la carrera de "Tecnicatura
          Superior en Desarrollo Web y Aplicaciones Digitales" en el "Instituto
          Superior Politécnico Córdoba"
        </p>
      </span>
    </div>
  </div>
</div>
