<div class="container" id="experienciasBlock">
  <div class="card">
    <div class="card-header"><h2>Experiencias</h2></div>

    <div class="card-body row" *ngFor="let exp of experiencias">
      <div class="col-2">
        <img
          src="{{ exp.imagen }}"
          class="img-fluid rounded-start"
          class="logos"
          alt="..."
        />
      </div>
      <div class="col-6">
        <h3 class="card-title">{{ exp.cargo }}</h3>
        <p class="card-text">
          {{ exp.empresa }} <br />
          {{ exp.inicio }} - {{ exp.fin }}<br />
          {{ exp.direccion }}
        </p>
      </div>

      <div class="col-2 text-right mt20">
        <button 
        *ngIf="isLoggedIn"
        routerLink="/experiencia/{{exp.id}}"       
        type="button" 
        class="btn btn-primary">Editar
        </button>
      </div>

      <div class="col-2 text-right mt20">
        <button 
        *ngIf="isLoggedIn"
        (click)= "eliminarExperiencia(exp.id)"
        type="button" 
        class="btn btn-danger">Borrar
        </button>
      </div>

      <hr size="2px" color="black" />
    </div>
    <div class="container text-center mt20" id="agregar">
      <button 
      *ngIf="isLoggedIn"
      (click)="agregarExperiencia()"      
      type="button" 
      class="btn btn-primary">Agregar</button>
    </div>
  </div>
</div>